<!-- wp:wp2/layout {
    "className": "wp2-layout",
    "metadata": {
        "name": "Page: 404"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "option": {
                "value": "404",
                "label": "Page: 404"
            }
        }
    }
} --><!-- wp:template-part {
    "slug": "root-header-part-404",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Header: 404"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-header-part-404"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-main-part-404",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Main: 404"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-main-part-404"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-aside-part-404",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Aside: 404"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-aside-part-404"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-footer-part-404",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Footer: 404"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-footer-part-404"
        }
    }
} --><!-- /wp:template-part --><!-- /wp:wp2/layout -->