<!-- wp:wp2/layout {
    "className": "wp2-layout",
    "metadata": {
        "name": "Archive: Fallback"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "option": {
                "value": "archive",
                "label": "Archive: Fallback"
            }
        }
    }
} --><!-- wp:template-part {
    "slug": "root-header-part-archive",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Header: Archive"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-header-part-archive"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-main-part-archive",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Main: Archive"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-main-part-archive"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-aside-part-archive",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Aside: Archive"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-aside-part-archive"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-footer-part-archive",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Footer: Archive"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-footer-part-archive"
        }
    }
} --><!-- /wp:template-part --><!-- /wp:wp2/layout -->