<!-- wp:wp2/layout {
    "className": "wp2-layout",
    "metadata": {
        "name": "Single Item: Attachment"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "option": {
                "value": "attachment",
                "label": "Single Item: Attachment"
            }
        }
    }
} --><!-- wp:template-part {
    "slug": "root-header-part-attachment",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Header: Attachment"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-header-part-attachment"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-main-part-attachment",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Main: Attachment"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-main-part-attachment"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-aside-part-attachment",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Aside: Attachment"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-aside-part-attachment"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-footer-part-attachment",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Footer: Attachment"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-footer-part-attachment"
        }
    }
} --><!-- /wp:template-part --><!-- /wp:wp2/layout -->