<!-- wp:wp2/layout {
    "className": "wp2-layout",
    "metadata": {
        "name": "Single Item: Author"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "option": {
                "value": "author",
                "label": "Single Item: Author"
            }
        }
    }
} --><!-- wp:template-part {
    "slug": "root-header-part-author",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Header: Author"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-header-part-author"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-main-part-author",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Main: Author"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-main-part-author"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-aside-part-author",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Aside: Author"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-aside-part-author"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-footer-part-author",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Footer: Author"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-footer-part-author"
        }
    }
} --><!-- /wp:template-part --><!-- /wp:wp2/layout -->