<!-- wp:wp2/layout {
    "className": "wp2-layout",
    "metadata": {
        "name": "Archive: Date"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "option": {
                "value": "date",
                "label": "Archive: Date"
            }
        }
    }
} --><!-- wp:template-part {
    "slug": "root-header-part-date",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Header: Date"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-header-part-date"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-main-part-date",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Main: Date"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-main-part-date"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-aside-part-date",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Aside: Date"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-aside-part-date"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-footer-part-date",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Footer: Date"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-footer-part-date"
        }
    }
} --><!-- /wp:template-part --><!-- /wp:wp2/layout -->