<!-- wp:wp2/layout {
    "className": "wp2-layout",
    "metadata": {
        "name": "Page: Home"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "option": {
                "value": "front-page",
                "label": "Page: Home"
            }
        }
    }
} --><!-- wp:template-part {
    "slug": "root-header-part-front-page",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Header: Front Page"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-header-part-front-page"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-main-part-front-page",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Main: Front Page"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-main-part-front-page"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-aside-part-front-page",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Aside: Front Page"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-aside-part-front-page"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-footer-part-front-page",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Footer: Front Page"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-footer-part-front-page"
        }
    }
} --><!-- /wp:template-part --><!-- /wp:wp2/layout -->