<!-- wp:wp2/layout {
    "className": "wp2-layout",
    "metadata": {
        "name": "Site: Fallback"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "option": {
                "value": "index",
                "label": "Site: Fallback"
            }
        }
    }
} --><!-- wp:template-part {
    "slug": "root-header-part-index",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Header: Index"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-header-part-index"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-main-part-index",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Main: Index"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-main-part-index"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-aside-part-index",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Aside: Index"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-aside-part-index"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-footer-part-index",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Footer: Index"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-footer-part-index"
        }
    }
} --><!-- /wp:template-part --><!-- /wp:wp2/layout -->