<!-- wp:wp2/layout {
    "className": "wp2-layout",
    "metadata": {
        "name": "Single Item: Page"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "option": {
                "value": "page",
                "label": "Single Item: Page"
            }
        }
    }
} --><!-- wp:template-part {
    "slug": "root-header-part-page",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Header: Page"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-header-part-page"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-main-part-page",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Main: Page"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-main-part-page"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-aside-part-page",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Aside: Page"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-aside-part-page"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-footer-part-page",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Footer: Page"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-footer-part-page"
        }
    }
} --><!-- /wp:template-part --><!-- /wp:wp2/layout -->