<!-- wp:wp2/layout {
    "className": "wp2-layout",
    "metadata": {
        "name": "Page: Search"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "option": {
                "value": "search",
                "label": "Page: Search"
            }
        }
    }
} --><!-- wp:template-part {
    "slug": "root-header-part-search",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Header: Search"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-header-part-search"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-main-part-search",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Main: Search"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-main-part-search"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-aside-part-search",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Aside: Search"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-aside-part-search"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-footer-part-search",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Footer: Search"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-footer-part-search"
        }
    }
} --><!-- /wp:template-part --><!-- /wp:wp2/layout -->