<!-- wp:wp2/layout {
    "className": "wp2-layout",
    "metadata": {
        "name": "Single Item: Fallback"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "option": {
                "value": "single",
                "label": "Single Item: Fallback"
            }
        }
    }
} --><!-- wp:template-part {
    "slug": "root-header-part-single",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Header: Single"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-header-part-single"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-main-part-single",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Main: Single"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-main-part-single"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-aside-part-single",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Aside: Single"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-aside-part-single"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-footer-part-single",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Footer: Single"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-footer-part-single"
        }
    }
} --><!-- /wp:template-part --><!-- /wp:wp2/layout -->