<!-- wp:wp2/layout {
    "className": "wp2-layout",
    "metadata": {
        "name": "Single Item: Term"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "option": {
                "value": "taxonomy",
                "label": "Single Item: Term"
            }
        }
    }
} --><!-- wp:template-part {
    "slug": "root-header-part-taxonomy",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Header: Taxonomy"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-header-part-taxonomy"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-main-part-taxonomy",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Main: Taxonomy"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-main-part-taxonomy"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-aside-part-taxonomy",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Aside: Taxonomy"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-aside-part-taxonomy"
        }
    }
} --><!-- /wp:template-part --><!-- wp:template-part {
    "slug": "root-footer-part-taxonomy",
    "lock": {
        "move": false,
        "remove": false
    },
    "metadata": {
        "name": "Root Footer: Taxonomy"
    },
    "blockstudio": {
        "attributes": {
            "0": "o",
            "slug": "root-footer-part-taxonomy"
        }
    }
} --><!-- /wp:template-part --><!-- /wp:wp2/layout -->